* {
  padding: 0;
  margin: 0;
}
html , body {
  /* padding-inline: 5%; */
  height: 100%;
  width: 100%;
}
.app-layout{
  margin-left: 50px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 2px solid grey; */
  border-radius: 20px;
  padding-inline: 3%;
  margin-top: 30px;
}
.logo-container > img {
  height: 100px;
  width: 100px;
  border-radius: 80px;
  cursor: pointer;
}
.nav-items > ul {
  display: flex;
  column-gap: 30px;
  font-weight: 400;
  font-size: 20px;
  list-style: none;
  align-items: center;
  cursor: pointer;
  /* margin-top: 30px; */
}

 
.search {
  margin-left: 30%;
  margin-top: 10px;
  display: flex;
  column-gap: 50px;
  margin-bottom: 30px;
}

.input-field {
  width: 200px;
  padding: 5px 10px;
   
}

.btn {
    background-color: rgb(37, 141, 239);
    color: white;
    padding: 15px 20px ;
    font-size: medium;
    font-weight: 300;
    border-radius:  10px;
    cursor: pointer;
    border: none;
}

.Restro-body{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* gap: 10px; */
    row-gap:  15px;
    column-gap: 4px;
}

.card{
    /* border: 1px solid black; */
    width: 250px;
    /* height:  300px; */
    border-radius: 15px;
    padding: 10px;
    
    
    background-color: #f0f0f0;
}
.food{
    margin-top: 5px;
     width: 100%;       /* Make the image take the full width of the container */
       /* Maintain the aspect ratio */
    object-fit: cover;
    height: 150px;
    border-radius:15px;
    /* margin:  12px  23px 12px; */
}
.info{
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
.food:hover{
    scale: 1.05;
}

.card:hover{
    cursor: pointer;
    border:  1px solid rgb(33, 31, 31);
}

.shimer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
   margin-top: 50px;
  row-gap:  15px;
  column-gap: 4px;
}



.shimer-card{
  width: 250px;
 height: 200px;
    border-radius: 15px;
    padding: 10px;
    background-color: #f0f0f0;
}